<!DOCTYPE html>
<html>
  <head>
    <title>Clicker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!--Подключение bootstrap по ссылке:-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <p><%= t(:welcome) %></p>
    <div class="btn-group">
      <% I18n.available_locales.each do |locale| %>
        <button class="btn btn-outline-primary">
          <%= link_to t(locale), url_for(locale: locale) %>
        </button>
      <% end %>
    </div>

    <nav class="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <% if current_user.present? %>
            <%= "@#{current_user.login}" %>
            <%= button_to 'Выйти', session_path, method: :delete %>
          <% else %>
            <%= link_to 'Регистрация', new_user_path, class: 'btn btn-outline-primary' %>
            <%= link_to 'Вход', new_session_path, class: 'btn btn-outline-primary' %>
          <% end %>
        </li>
      </ul>
    </nav>

    <%= yield %>
    <% if flash[:alert].present? %>
      <p><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice].present? %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <!-- 
    <p>
      <% flash.each do |_type, msg| %>
        <%= msg %>
      <% end %>
    </p>
    -->

  </body>

</html>
